html{
    box-sizing: border-box;
}

*::after,
*::before{
    box-sizing: inherit;
}

:root{
    --darkmagenta: hsl(300, 43%, 22%);
    --softmagenta: hsl(333, 80%, 67%);
    --white: hsl(0, 0%, 100%);
    --softtext: hsl(303, 10%, 53%);
    --lightpink: hsl(300, 24%, 96%);
}

body{
    font-family: 'Spartan', sans-serif;
    padding: 74px 20px 80px;
    /*content: url(../imagenes/bg-pattern-top-desktop.svg);
    content: url(../imagenes/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100% 300px;*/
}

/*body::before{
    content: url(../imagenes/bg-pattern-top-mobile.svg);
}*/

.header{
    text-align: center;
}

.header-title{
    color: var(--darkmagenta);
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 32px;
}

.header-subtitle{
    color: var(--softtext);
    font-size: 15px;
    line-height: 1.75;
    font-weight: 500;
    letter-spacing: -1px;
}

.rates{
    text-align: center;
    margin-bottom: 50px;
}

.rated{
    background-color: var(--lightpink);
    margin: 15px 0;
    padding: 10px 20px;
    border-radius: 5px;
}

.rated:nth-child(3){
    margin-top: 0;
}

.rated-text{
    color: var(--darkmagenta);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: -0.5px;
}

.testimonial{
    background-color: var(--darkmagenta);
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 15px;
}

.testimonial-header{
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.testimonial-image{
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
}

.testimonial-title{
    color: var(--white);
    font-size: 15px;
    margin: 0;
    margin-left: 30px;
}

.testimonial-subtitle{
    color: var(--softmagenta);
    margin: 0;
    margin-left: 30px;
}

.testimonial-text{
    color: var(--white);
    font-size: 14px;
    line-height: 22px;
    margin: 0;
}

@media screen and (min-width:768px){
    .rates{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .rated{
        flex-basis: calc(50% - 5rem);
    }

    .rated:nth-child(1){
        margin-right: 7.5px;
    }

    .rated:nth-child(2){
        margin-left: 7.5px;
    }


    .testimonials{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .testimonial{
        flex-basis: calc(50% - 5rem);
    }

    .testimonial:nth-child(1){
        margin-right: 7.5px;
    }

    .testimonial:nth-child(2){
        margin-left: 7.5px;
    }
}

@media screen and (min-width:980px){
    .rated{
        flex-basis: calc(33% - 3.4rem);
    }

    .rated:nth-child(2){
        margin-left: 7.5px;
        margin-right: 7.5px;
    }

    .rated:nth-child(3){
        margin-left: 7.5px;
        margin-top: 15px;
    }
}

@media screen and (min-width:1024px){
    body{
        max-width: 1140px;
        margin: 0 auto;
    }

    .conteiner{
        display: flex;
        margin-bottom: 32px;
        flex-wrap: wrap;
    }

    .sub-conteiner{
        flex-basis: calc(50% - .4rem);
    }

    .header{
        text-align: left;
    }

    .header-title{
        font-size: 40px;
        line-height: 1.1;
    }

    .header-subtitle{
        margin-right: 104px;
    }

    .rates{
        flex-direction: column;
        align-items: flex-end;
    }

    .rated{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 340px;
        margin-bottom: 0;
        padding: 1rem 2rem;
        align-items: center;
    }

    .rated:nth-child(1){
        margin-top: 2rem;
        margin-right: 4rem;
    }

    .rated:nth-child(2){
        margin-right: 2rem;
    }


    .images{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 75px;
        margin-right: 1rem;justify-content: center;
    }

    .rated-star{
        align-self: flex-start;
        width: 1.2rem;
    }
}

@media screen and (min-width:1280px){
    .testimonial{
        flex-basis: calc(30% - 3.2rem);
        margin-bottom: 0;
    }

    .testimonial:nth-child(1){
        margin-right: 2rem;
        align-self: flex-start;

    }

    .testimonial:nth-child(2){
        margin-right: 2rem;
        align-self: center;

    }

    .testimonial:nth-child(3){
        margin-top: 5rem;
        align-self: flex-end;
    }
}